
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastrar</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <form method="post">
            <div class="form-group">
                <label for="palavra">Palavra</label>
                <input type="text" name="palavra" value="" class="form-control" id="palavra" placeholder="Digite a palavra">
                @Html.ValidationMessage("palavra")
            </div>
            <div class="form-group">
                <label for="nivel">Nível</label>
                <input type="text" name="nome" value="" class="form-control" id="nivel" placeholder="Digite o nível, 1 - Fácil, 2 - Médio, 3 - Difícil">
                @Html.ValidationMessage("nivel")
            </div>
            

            <button type="submit" class="btn btn-primary">Salvar</button>
        </form>

    </div>
</body>
</html>
