<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Bem Vindo!</title>
</head>
<body>
    <h1>Vamos dizer bem-vindo ao nosso Site01</h1>

    <footer>
        Todos os direitos reservados &copy; 2010 - @DateTime.Now.Year
    </footer>
</body>
</html>